<div id="vert_scroller" x-mojo-element="Scroller" style="width: 100%; height: 260px;">
	<div class="palm-body-title">Notice</div>
	<div class="palm-body-text">
		Warning, this is only <strong>beta version</strong>
	</div>
	<div class="palm-info-text">
		Please keep in mind, this is BETA version of <strong>GC-gogo</strong> application. Application is only in <em>english</em>. Application can be <strong>unstable</strong>.
	</div>
	<div class="palm-body-title">What's new in this beta</div>
	<div class="palm-info-text">
		<ul>
			<li><strong>This beta is for testing purposes only</strong></li>
		</ul>
	</div>
</div>
<div id="changelog-close" x-mojo-element="Button">Close</div>