<div id="vert_scroller" x-mojo-element="Scroller" style="width: 100%; height: 200px;">
	<div class="palm-body-title">Version changelog</div>
	<!-- 1.2.0 -->
	<div class="palm-body-text">
		Version <strong>1.2.0</strong> (<em>released in April 2012</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Add: magnetic compass support for Pre3 (thanks to Seddy for contribution)</li>
			<li>Improved handling for corrected coordinates</li>
			<li>Improved login routine</li>
			<li>Fix: parsing location string</li>
		
		</ul>
	</div>
	<!-- 1.1.3 -->
	<div class="palm-body-text">
		Version <strong>1.1.3</strong> (<em>released in March 2012</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Fixed premium member only caches</li>
			
		</ul>
	</div>	
	<!-- 1.1.2 -->
	<div class="palm-body-text">
		Version <strong>1.1.2</strong> (<em>released in March 2012</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Changed container size handling</li>
			<li>Fixed not shown logs</li>
			<li>Fixed loging trackable by code</li>
			<li>Removed not working map</li>
	
		</ul>
	</div>	
	<!-- 1.1.1 -->
	<div class="palm-body-text">
		Version <strong>1.1.1</strong> (<em>released in December 2011</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Fixed coordinate handing in compass</li>
			<li>Minor layout changes on pre3</li>
	
		</ul>
	</div>	
	<!-- 1.1.0 -->
	<div class="palm-body-text">
		Version <strong>1.1.0</strong> (<em>released in December 2011</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Revised coordinate management</li>
			<li>Reenabled twitter support</li>
			<li>Add: Delete userdefined waypoints</li>
			<li>Add: waypoints projection</li>
			<li>Fix: layout and parsing trackables</li>
	
		</ul>
	</div>
	<!-- 1.0.3 -->
	<div class="palm-body-text">
		Version <strong>1.0.3</strong> (<em>released in November 2011</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Fix: Parsing coordinates</li>
		</ul>
	</div>
	<!-- 1.0.2 -->
	<div class="palm-body-text">
		Version <strong>1.0.2</strong> (<em>released in November 2011</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Fix: Missing description on some devices</li>
			<li>Fix: Black bottom bar on pre3</li>
			<li>Add: Hidden/Event date</li>
			<li>Temporarily disabled twitter support</li>
		</ul>
	</div>
	<!-- 1.0.1 -->
	<div class="palm-body-text">
		Version <strong>1.0.1</strong> (<em>released in October 2011</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li><strong>Initial release as GC-gogo in app catalog</strong></li>
			<li><strong>Fixed problems due to changes on the gc.com website</strong></li>
			<li><strong>Cache list will be now extened to view more caches</strong></li>
		</ul>
	</div>
    <div class="palm-info-text"><strong>If you like <em>GC-gogo</em>, you can </strong><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9RKCJYW7PL65W" target="_blank"><img src="images/donate.gif" alt="Donate" title="Donate" /></a></div>
</div>
<div id="changelog-close" x-mojo-element="Button">Close</div>
