<div id="vert_scroller" x-mojo-element="Scroller" style="width: 100%; height: 200px;">
	<div class="palm-body-title">Version changelog</div>
	<!-- 3.0.3 -->
	<div class="palm-body-text">
		Version <strong>3.0.3</strong> (<em>released in August 2013</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Fixed log parsing</li>
			<li>Fixed parsing of gpx files</li>
		</ul>
	</div>
	<!-- 3.0.1 -->
	<div class="palm-body-text">
		Version <strong>3.0.1</strong> (<em>released in June 2013</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>No tree climbing attribute fixed</li>
		</ul>
	</div>
	<!-- 3.0.0 -->
	<div class="palm-body-text">
		Version <strong>3.0.0</strong> (<em>released in June 2013</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>New design in cachelist and cache view</li>
			<li>GC-Vote integration showing cache quality (you can disable this in prefereces)</li>
			<li>Completely removed Twitter support</li>
			<li>Fix: Changes at gc.com + google</li>
			<li>Many minor improvements</li>
		</ul>
	</div>
	<!-- 2.1.6 -->
	<div class="palm-body-text">
		Version <strong>2.1.6</strong> (<em>released in February 2013</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Fixed log parsing</li>
			<li>Improved date parsing</li>
		</ul>
	</div>
	<!-- 2.1.5 -->
	<div class="palm-body-text">
		Version <strong>2.1.5</strong> (<em>released in January 2013</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>New archive icons</li>
			<li>Fixed gallery</li>
		</ul>
	</div>
	<!-- 2.1.2 -->
	<div class="palm-body-text">
		Version <strong>2.1.2</strong> (<em>released in January 2013</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Green questionmark for solved mysteries</li>
			<li>Disabled notworking twitter support</li>			
			<li>Improved parsing of cache lists</li>			
		</ul>
	</div>
	<!-- 2.1.0 -->
	<div class="palm-body-text">
		Version <strong>2.1.0</strong> (<em>released in December 2012</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>New floppy icon for caches stored on divice</li>
			<li>Handling of new icons on gc website</li>
			<li>Some minor fixes</li>
			
		</ul>
	</div>
	<!-- 2.0.2 -->
	<div class="palm-body-text">
		Version <strong>2.0.3</strong> (<em>released in October 2012</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Fix: Login error for localized accounts</li>
			<li>Fix: Cache parsing for special cache names</li>
			
		</ul>
	</div>
	<!-- 2.0.2 -->
	<div class="palm-body-text">
		Version <strong>2.0.2</strong> (<em>released in June 2012</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Fix: Log download for Premium members</li>
			<li>Fix: Cache parsing for localized accounts</li>
			
		</ul>
	</div>
	<!-- 2.0.0 -->
	<div class="palm-body-text">
		Version <strong>2.0.0</strong> (<em>released in June 2012</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li>Revised log handling</li>
			<li>Show Finds/DNF/Favs</li>
			<li>Live Map using MapTool(Pro)</li>
			<li>Changed Compass handling</li>
			<li>Download caches for offline use</li>
			<li>Many minor fixes</li>

		
		</ul>
	</div>
    <div class="palm-info-text"><strong>If you like <em>GC-gogo</em>, you can </strong><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9RKCJYW7PL65W" target="_blank"><img src="images/donate.gif" alt="Donate" title="Donate" /></a></div>
</div>
<div id="changelog-close" x-mojo-element="Button">Close</div>
