<div id="vert_scroller" x-mojo-element="Scroller" style="width: 100%; height: 200px;">
	<div class="palm-body-title">Version changelog</div>
	<!-- 1.0.0 -->
	<div class="palm-body-text">
		Version <strong>1.0.0</strong> (<em>released in October 2011</em>)
	</div>
	<div class="palm-info-text">
		<ul>
			<li><strong>Initial release as GC-gogo in app catalog</strong></li>
			<li><strong>Fixed problems due to changes on the gc.com website</strong></li>
			<li><strong>Cache list will be now extened to view more caches</strong></li>
		</ul>
	</div>
<!--	<div class="palm-info-text"><strong>If you like <em>Geocaching for webOS</em>, you can </strong><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&amp;business=georgo10%40centrum%2ecz&amp;lc=US&amp;item_name=Tomas%20Kopecny&amp;item_number=preCaching&amp;currency_code=USD&amp;bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHosted" target="_blank"><img src="images/donate.gif" alt="Donate" title="Donate" /></a></div> -->
</div>
<div id="changelog-close" x-mojo-element="Button">Close</div>