<div id="corner"></div>
<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="icon precaching" id="icon"></div>
		<div class="title truncating-text" id="title">Preferences</div>
	</div>
</div>
<div class="palm-list">
	<div class="palm-row first">
		<div class="palm-row-wrapper">
			<div id="toggle-hidemysearch" name="toggle-hidemysearc" x-mojo-element="ToggleButton"></div>
			<div class="title">Hide my own finds</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div id="toggle-theme" name="toggle-theme" x-mojo-element="ToggleButton"></div>
			<div class="title">Theme</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div id="toggle-units" name="toggle-units" x-mojo-element="ToggleButton"></div>
			<div class="title">Units</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div id="toggle-detectunits" name="toggle-detectunits" x-mojo-element="ToggleButton"></div>
			<div class="title">Detect units<br /><small>(from geocaching.com)</small></div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
			<div class="title">
				<div id="logcount" name="logcount" x-mojo-element="IntegerPicker"></div>
			</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
			<div class="title">
				<div id="minimalaccuracy" name="minimalaccuracy" x-mojo-element="IntegerPicker"></div>
			</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
			<div id="cachetype" name="cachetype" x-mojo-element="ListSelector"></div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div id="builtin-compass" name="builtin-compass" x-mojo-element="ListSelector"></div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div id="toggle-compassinnewcard" name="toggle-compassinnewcard" x-mojo-element="ToggleButton"></div>
			<div class="title">Compass in new card</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div id="toggle-magneticcompass" name="toggle-magneticcompass" x-mojo-element="ToggleButton"></div>
			<div class="title">Magnetic compass</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div id="toggle-autoclean" name="toggle-autoclean" x-mojo-element="ToggleButton"></div>
			<div class="title">Autoclean old caches</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div id="toggle-recalculatedistance" name="toggle-recalculatedistance" x-mojo-element="ToggleButton"></div>
			<div class="title">Recalculate distance in list	</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div id="toggle-go4cache" name="toggle-go4cache" x-mojo-element="ToggleButton"></div>
			<div class="title">Share location with other Geocachers<br /><small>(on <a href="http://go4cache.com/about/">go4cache.com</a>)</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div id="toggle-debug" name="toggle-debug" x-mojo-element="ToggleButton"></div>
			<div class="title">Send anonymous reports on error</div>
		</div>
	</div>

	<div class="palm-row single">
		<div class="palm-row-wrapper">
			<div id="reset-tutorials" x-mojo-element="Button"></div>
		</div>
	</div>
	<div class="palm-row single last">
		<div class="palm-row-wrapper">
			<div id="clear-geocaches" x-mojo-element="Button"></div>
		</div>
	</div>
</div>
