<div id="corner"></div>
<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="icon precaching" id="cache-icon"></div>
		<div class="title truncating-text" id="cache-title">Waypoint Projection</div>
	</div>
</div>
	<div class="palm-group unlabeled">
		<div class="palm-list">
			<div class="palm-row single">
						<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
							<div class="title">
								<div class="label">Name</div>
								<div id="wptName" name="wptName" x-mojo-element="TextField"></div>
							</div>
						</div>
					</div>
			<div class="palm-row single">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div class="label">Origin</div>
					<div id="origin" name="origin" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			
					<div class="palm-row single">
						<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
							<div class="title">
								<div class="label" style="margin:0px;">Angle</div>
								<div id="angle" name="angle" x-mojo-element="TextField"></div>
							</div>
						</div>
					</div>
					<div class="palm-row single">
						<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
							<div class="title">
								<div class="label">Distance</div>
								<div id="distance" name="distance" x-mojo-element="TextField"></div>
							</div>
						</div>
					</div>
			<div class="palm-row single">
				<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
					<div class="label">Unit</div>
					<div id="unit" name="unit" x-mojo-element="ListSelector"></div>
				</div>
			</div>
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
						<div id="submit" x-mojo-element="Button"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

