<div id="corner"></div>
<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="icon precaching" id="icon"></div>
		<div class="title truncating-text" id="title">About crew &amp; Copyright</div>
	</div>
</div>
<div class="palm-list">
	<div class="palm-row first">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">author</div>
				<div class="truncating-text">Patty21 &amp;<br />Tomas Kopecny<small> aka Georgo</small></div>
			</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">contributors</div>
				<div>
<strong>Tony Klieber</strong><br />
				</div>
			</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">translation</div>
				<div>
<strong>Lars Hendrichs</strong> | German<br />
				</div>
			</div>
		</div>
	</div>
	<div class="palm-row last">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">thanks</div>
				<div>
<strong>cube48</strong> for logo<br />
<strong>PreCentral</strong> for publishing<br />
<strong>Lars Hendrichs</strong> for donation<br />
<em>pre|central.net</em> users for testing
				</div>
			</div>
		</div>
	</div>
</div>

<div class="palm-group">
	<div class="palm-group-title" x-mojo-loc=''>Copyright</div>
	<div class="palm-list">
		<div class="palm-row single">
			<div class="subtitle small">The Groundspeak Geocaching logos and Trademarks have been created exclusively by Groundspeak, Inc. and are copyrighted by Groundspeak. Geocaching.com and Groundspeak are trademarks of Groundspeak, Inc. Copyright 2010.</div>
		</div>
	</div>
</div>
