<div id="backgroundmap" class="backgroundmap"><!--img src="http://maps.google.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&amp;zoom=14&amp;size=320x480&amp;maptype=roadmap&amp;markers=color:blue|label:S|40.702147,-74.015794&amp;markers=color:green|label:G|40.711614,-74.012318&amp;markers=color:red|label:C|40.718217,-73.998284&amp;sensor=false" /--></div>
<div id="corner"></div>
<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="icon precaching" id="icon"></div>
		<div class="title truncating-text" id="list-title">Loading...</div>
	</div>
</div>
<div x-mojo-element="Spinner" class="big-spinner" id="loading-spinner"></div>
<div id="list" style="display:none">
	<div id="cache-list" x-mojo-element="List"></div>
</div>