<div id="corner"></div>
<div class="palm-page-header multi-line">
	<div class="palm-page-header-wrapper">
		<div class="icon precaching" id="trackable-icon"></div>
		<div class="title truncating-text" id="trackable-title">Loading...</div>
	</div>
</div>
<div x-mojo-element="Spinner" class="big-spinner" id="loading-spinner"></div>
<div class="palm-list gc-basic" id="trackable-detail" style="display:none">
	<div class="palm-row first">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">name</div>
				<div id="trackable-name">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="palm-row gc-extended">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">downloaded</div>
				<div id="trackable-updated">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="palm-row gc-extended" id="trackable-owner-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">owner</div>
				<div class="truncating-text" id="trackable-owner">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="palm-row gc-basic">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">released</div>
				<div id="trackable-released">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="palm-row gc-extended">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">origin</div>
				<div id="trackable-origin">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="palm-row" id="trackable-location-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">location</div>
				<div id="trackable-location">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="palm-row" id="trackable-goal-row">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">goal</div>
				<div id="trackable-goal" class="palm-body-text gc-description">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="palm-row" id="trackable-about-row">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">about</div>
				<div id="trackable-about" class="palm-body-text gc-description">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="palm-row" id="trackable-traveled-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">traveled</div>
				<div id="trackable-traveled">&nbsp;</div>
			</div>
		</div>
	</div>
	<div class="palm-row last" id="trackable-image-row">
		<div class="palm-row-wrapper">
			<div class="title">
				<div id="trackable-image" class="gc-description">&nbsp;</div>
			</div>
		</div>
	</div>
</div>
