<div id="list" class="palm-list loading">
	<div class="palm-row first">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<div class="label" id="gccode"></div>
				<div id="title" class="truncating-text"></div>
		</div>
		</div>
	</div>
	<div class="palm-row loading">
		<div class="palm-row-wrapper">
			<div class="palm-body-text">Loading ...</div>
		</div>
	</div>
	<div class="palm-row loaded">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">size</div>
				<div class="truncating-text"><img src="images/other.gif" id="cache-size" />&nbsp;<span id="cache-size-label">Other</span></div>
			</div>
		</div>
	</div>
	<div class="palm-row loaded">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">difficulty</div>
				<div class="truncating-text"><img src="images/stars0.gif" id="cache-difficulty" />&nbsp;<span id="cache-difficulty-label">0</span>/5</div>
			</div>
		</div>
	</div>
	<div class="palm-row loaded">
		<div class="palm-row-wrapper">
			<div class="title">
				<div class="label">terrain</div>
				<div class="truncating-text"><img src="images/stars0.gif" id="cache-terrain" />&nbsp;<span id="cache-terrain-label">0</span>/5</div>
			</div>
		</div>
	</div>
	<div class="palm-row last loaded" style="display:none">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title"><div id="navigate" class="palm-button affirmative noCapitals">Navigate</div></div>
		</div>
	</div>
	<div class="palm-row last">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<table width="100%"><tr>
					<td width="50%"><div id="detail" class="palm-button buttonfloat primary">Detail</div></td>
					<td width="50%"><div id="close" class="palm-button buttonfloat secondary">Close</div></td>
				</tr></table>
			</div>
		</div>
	</div>
</div>