<div class="palm-list">
	<div class="palm-row first">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title">
				<div class="label" id="timedelta"></div>
				<div id="title"></div>
		</div>
		</div>
	</div>
	<div class="palm-row">
		<div class="palm-row-wrapper" x-mojo-focus-highlight="true">
			<div class="palm-body-text"><img src="about:blank" id="client" style="float:right"/>This is active go4cache user.<div class="clear"></div></div>
		</div>
	</div>
	<div class="palm-row last">
		<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
			<div class="title"><div id="close" class="palm-button secondary">Close</div></div>
		</div>
	</div>
</div>